[Unit]
Description=JERS Daemon
After=syslog.target

[Service]
RuntimeDirectory=jers
User=jers
Group=jers
ExecStart=/usr/bin/jersd
RestartSec=5s
Restart=on-success

[Install]
WantedBy=multi-user.target
