[Unit]
Description=JERS Daemon
After=syslog.target
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
User=jers
Group=jers

ExecStart=/usr/bin/jersd --daemon
ExecReload=/bin/kill -HUP $MAINPID

RestartSec=5s
Restart=on-success

[Install]
WantedBy=multi-user.target
