[Unit]
Description=JERS Agent Daemon
After=syslog.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -m 775 -o jers -d /var/run/jers

ExecStart=/usr/local/bin/jers_agentd
RestartSec=5s
Restart=on-success

[Install]
WantedBy=multi-user.target
