[Unit]
Description=JERS Agent Daemon
After=syslog.target
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/jers_agentd --daemon
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

RestartSec=5s
Restart=on-success

[Install]
WantedBy=multi-user.target
