[Unit]
Description=JERS Daemon
After=syslog.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -m 775 -o jers -d /var/run/jers

User=jers_user
ExecStart=/usr/local/bin/jersd
RestartSec=5s
Restart=on-success

[Install]
WantedBy=multi-user.target
